asgiref==3.9.1
cachetools==4.2.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
cloudinary==1.44.1
cryptography==46.0.6
dj-database-url==2.1.0
Django==5.2.4
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-crontab==0.7.1
django-filter==25.2
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
google-api-core==2.10.2
google-api-python-client==2.185.0
google-auth==1.35.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.71.0
gunicorn==21.2.0
httplib2==0.31.0
idna==3.11
ndg-httpsclient==0.5.1
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
protobuf==4.25.8
psycopg2-binary==2.9.10
pusher==3.3.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.10.1
PyNaCl==1.6.2
pyngrok==7.5.1
pyOpenSSL==26.0.0
pyparsing==3.2.5
python-certifi-win32==1.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rsa==4.9.1
setuptools==80.9.0
setuptools-scm==10.0.5
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vcs-versioning==1.1.1
whitenoise==6.6.0
wrapt==2.1.2
upstash-qstash
openpyxl
