BEGIN;
--
-- Create model AcademicPackage
--
CREATE TABLE "students_academicpackage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL);
--
-- Create model AttendancePolicy
--
CREATE TABLE "students_attendancepolicy" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "grace_absences" smallint unsigned NOT NULL CHECK ("grace_absences" >= 0), "fee_block_on_pending" bool NOT NULL, "is_active" bool NOT NULL);
--
-- Create model Campus
--
CREATE TABLE "students_campus" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "code" varchar(10) NOT NULL UNIQUE, "city" varchar(100) NOT NULL, "address" text NOT NULL, "phone" varchar(20) NOT NULL);
--
-- Create model Grade
--
CREATE TABLE "students_grade" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(5) NOT NULL UNIQUE, "name" varchar(50) NOT NULL, "order" smallint unsigned NOT NULL UNIQUE CHECK ("order" >= 0));
--
-- Create model AcademicBatch
--
CREATE TABLE "students_academicbatch" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "mode" varchar(10) NOT NULL, "schedule" varchar(100) NOT NULL, "start_date" date NULL, "status" varchar(20) NOT NULL, "notes" text NOT NULL, "created_at" datetime NOT NULL, "trainer_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "package_id" bigint NOT NULL REFERENCES "students_academicpackage" ("id") DEFERRABLE INITIALLY DEFERRED, "attendance_policy_id" bigint NULL REFERENCES "students_attendancepolicy" ("id") DEFERRABLE INITIALLY DEFERRED, "campus_id" bigint NOT NULL REFERENCES "students_campus" ("id") DEFERRABLE INITIALLY DEFERRED, "current_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "starting_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model AttendanceSession
--
CREATE TABLE "students_attendancesession" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NOT NULL, "topic" varchar(200) NOT NULL, "notes" text NOT NULL, "is_finalized" bool NOT NULL, "created_at" datetime NOT NULL, "batch_id" bigint NOT NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "created_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Add field ending_grade to academicpackage
--
CREATE TABLE "new__students_academicpackage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "ending_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO "new__students_academicpackage" ("id", "name", "description", "is_active", "created_at", "ending_grade_id") SELECT "id", "name", "description", "is_active", "created_at", NULL FROM "students_academicpackage";
DROP TABLE "students_academicpackage";
ALTER TABLE "new__students_academicpackage" RENAME TO "students_academicpackage";
CREATE INDEX "students_academicbatch_trainer_id_6a6eb3a7" ON "students_academicbatch" ("trainer_id");
CREATE INDEX "students_academicbatch_package_id_d7bfeabd" ON "students_academicbatch" ("package_id");
CREATE INDEX "students_academicbatch_attendance_policy_id_2a5f19c8" ON "students_academicbatch" ("attendance_policy_id");
CREATE INDEX "students_academicbatch_campus_id_6ac07a6e" ON "students_academicbatch" ("campus_id");
CREATE INDEX "students_academicbatch_current_grade_id_a1875285" ON "students_academicbatch" ("current_grade_id");
CREATE INDEX "students_academicbatch_starting_grade_id_5ed13309" ON "students_academicbatch" ("starting_grade_id");
CREATE UNIQUE INDEX "students_attendancesession_batch_id_date_296b43e5_uniq" ON "students_attendancesession" ("batch_id", "date");
CREATE INDEX "students_attendancesession_batch_id_9368e1e8" ON "students_attendancesession" ("batch_id");
CREATE INDEX "students_attendancesession_created_by_id_f8ad4a8d" ON "students_attendancesession" ("created_by_id");
CREATE INDEX "students_academicpackage_ending_grade_id_b12bb524" ON "students_academicpackage" ("ending_grade_id");
--
-- Add field starting_grade to academicpackage
--
CREATE TABLE "new__students_academicpackage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "ending_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "starting_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO "new__students_academicpackage" ("id", "name", "description", "is_active", "created_at", "ending_grade_id", "starting_grade_id") SELECT "id", "name", "description", "is_active", "created_at", "ending_grade_id", NULL FROM "students_academicpackage";
DROP TABLE "students_academicpackage";
ALTER TABLE "new__students_academicpackage" RENAME TO "students_academicpackage";
CREATE INDEX "students_academicpackage_ending_grade_id_b12bb524" ON "students_academicpackage" ("ending_grade_id");
CREATE INDEX "students_academicpackage_starting_grade_id_62df4676" ON "students_academicpackage" ("starting_grade_id");
--
-- Create model Student
--
CREATE TABLE "students_student" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "phone" varchar(20) NOT NULL, "email" varchar(254) NOT NULL, "parent_name" varchar(200) NOT NULL, "parent_phone" varchar(20) NOT NULL, "company" varchar(10) NOT NULL, "status" varchar(20) NOT NULL, "mode_of_study" varchar(10) NOT NULL, "joined_date" date NOT NULL, "notes" text NOT NULL, "created_at" datetime NOT NULL, "academic_package_id" bigint NOT NULL REFERENCES "students_academicpackage" ("id") DEFERRABLE INITIALLY DEFERRED, "batch_id" bigint NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "campus_id" bigint NOT NULL REFERENCES "students_campus" ("id") DEFERRABLE INITIALLY DEFERRED, "trainer_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model PromotionEvent
--
CREATE TABLE "students_promotionevent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "notes" text NOT NULL, "created_at" datetime NOT NULL, "batch_id" bigint NOT NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "done_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "from_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "new_batch_id" bigint NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "to_grade_id" bigint NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "students_promotionevent_exited_students" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "promotionevent_id" bigint NOT NULL REFERENCES "students_promotionevent" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE "students_promotionevent_promoted_students" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "promotionevent_id" bigint NOT NULL REFERENCES "students_promotionevent" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model GradeExamRecord
--
CREATE TABLE "students_gradeexamrecord" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "attempt_number" smallint unsigned NOT NULL CHECK ("attempt_number" >= 0), "model_exam_marks" decimal NULL, "grade_exam_marks" decimal NULL, "model_exam_max" decimal NOT NULL, "grade_exam_max" decimal NOT NULL, "passing_percentage" decimal NOT NULL, "result" varchar(10) NOT NULL, "exam_date" date NULL, "remarks" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "batch_id" bigint NOT NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "recorded_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model DemotionEvent
--
CREATE TABLE "students_demotionevent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "reason" text NOT NULL, "reassigned" bool NOT NULL, "reassigned_date" date NULL, "created_at" datetime NOT NULL, "done_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "from_batch_id" bigint NOT NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "to_batch_id" bigint NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "from_grade_id" bigint NOT NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "to_grade_id" bigint NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model StudentBatchHistory
--
CREATE TABLE "students_studentbatchhistory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action" varchar(20) NOT NULL, "from_date" date NOT NULL, "to_date" date NULL, "reason" text NOT NULL, "created_at" datetime NOT NULL, "batch_id" bigint NOT NULL REFERENCES "students_academicbatch" ("id") DEFERRABLE INITIALLY DEFERRED, "done_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "grade_at_time_id" bigint NULL REFERENCES "students_grade" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model AttendanceRecord
--
CREATE TABLE "students_attendancerecord" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(10) NOT NULL, "is_regularized" bool NOT NULL, "regularized_date" date NULL, "notes" varchar(200) NOT NULL, "regularized_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "session_id" bigint NOT NULL REFERENCES "students_attendancesession" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" bigint NOT NULL REFERENCES "students_student" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "students_student_academic_package_id_e6a25038" ON "students_student" ("academic_package_id");
CREATE INDEX "students_student_batch_id_62ade08a" ON "students_student" ("batch_id");
CREATE INDEX "students_student_campus_id_d394df6c" ON "students_student" ("campus_id");
CREATE INDEX "students_student_trainer_id_2d54516b" ON "students_student" ("trainer_id");
CREATE INDEX "students_promotionevent_batch_id_69cb2f87" ON "students_promotionevent" ("batch_id");
CREATE INDEX "students_promotionevent_done_by_id_aebcd532" ON "students_promotionevent" ("done_by_id");
CREATE INDEX "students_promotionevent_from_grade_id_9810310d" ON "students_promotionevent" ("from_grade_id");
CREATE INDEX "students_promotionevent_new_batch_id_f884e4a6" ON "students_promotionevent" ("new_batch_id");
CREATE INDEX "students_promotionevent_to_grade_id_106ac98d" ON "students_promotionevent" ("to_grade_id");
CREATE UNIQUE INDEX "students_promotionevent_exited_students_promotionevent_id_student_id_0c6de361_uniq" ON "students_promotionevent_exited_students" ("promotionevent_id", "student_id");
CREATE INDEX "students_promotionevent_exited_students_promotionevent_id_f3c75955" ON "students_promotionevent_exited_students" ("promotionevent_id");
CREATE INDEX "students_promotionevent_exited_students_student_id_2f952e91" ON "students_promotionevent_exited_students" ("student_id");
CREATE UNIQUE INDEX "students_promotionevent_promoted_students_promotionevent_id_student_id_40cfa439_uniq" ON "students_promotionevent_promoted_students" ("promotionevent_id", "student_id");
CREATE INDEX "students_promotionevent_promoted_students_promotionevent_id_ff1372e0" ON "students_promotionevent_promoted_students" ("promotionevent_id");
CREATE INDEX "students_promotionevent_promoted_students_student_id_df5842c9" ON "students_promotionevent_promoted_students" ("student_id");
CREATE INDEX "students_gradeexamrecord_batch_id_3a17de84" ON "students_gradeexamrecord" ("batch_id");
CREATE INDEX "students_gradeexamrecord_grade_id_aa1aed4a" ON "students_gradeexamrecord" ("grade_id");
CREATE INDEX "students_gradeexamrecord_recorded_by_id_8276c108" ON "students_gradeexamrecord" ("recorded_by_id");
CREATE INDEX "students_gradeexamrecord_student_id_840f1324" ON "students_gradeexamrecord" ("student_id");
CREATE INDEX "students_demotionevent_done_by_id_aa8e64e9" ON "students_demotionevent" ("done_by_id");
CREATE INDEX "students_demotionevent_from_batch_id_983e484f" ON "students_demotionevent" ("from_batch_id");
CREATE INDEX "students_demotionevent_to_batch_id_608bbbe3" ON "students_demotionevent" ("to_batch_id");
CREATE INDEX "students_demotionevent_from_grade_id_fb5fa06d" ON "students_demotionevent" ("from_grade_id");
CREATE INDEX "students_demotionevent_to_grade_id_f4650511" ON "students_demotionevent" ("to_grade_id");
CREATE INDEX "students_demotionevent_student_id_f90b3586" ON "students_demotionevent" ("student_id");
CREATE INDEX "students_studentbatchhistory_batch_id_42bd0092" ON "students_studentbatchhistory" ("batch_id");
CREATE INDEX "students_studentbatchhistory_done_by_id_7c1fcc37" ON "students_studentbatchhistory" ("done_by_id");
CREATE INDEX "students_studentbatchhistory_grade_at_time_id_f11638a6" ON "students_studentbatchhistory" ("grade_at_time_id");
CREATE INDEX "students_studentbatchhistory_student_id_e6663bed" ON "students_studentbatchhistory" ("student_id");
CREATE UNIQUE INDEX "students_attendancerecord_session_id_student_id_20aaa56e_uniq" ON "students_attendancerecord" ("session_id", "student_id");
CREATE INDEX "students_attendancerecord_regularized_by_id_0e1a2dd4" ON "students_attendancerecord" ("regularized_by_id");
CREATE INDEX "students_attendancerecord_session_id_7e71d0cc" ON "students_attendancerecord" ("session_id");
CREATE INDEX "students_attendancerecord_student_id_97a89ca5" ON "students_attendancerecord" ("student_id");
COMMIT;
